html,body{
	overflow-x: hidden;
}
::-ms-input-placeholder {
	color: white;
}

.top{
	background-color: #141d26;
}
.top-content{
	margin-left: 10% !important;
	margin-right: 10% !important;
}

.social img{
	margin: 3px;
	display: inline-flex;
	align-items: center;
	
}
.name p{
	color: white;
	font-weight: bold;
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	text-align: center;
}
.search-input{
	display: flex;
	align-items: right;
	justify-content: right;
	width: 70% !important;
	border-radius: 10px !important;
	background-color: #141d26 !important;
}
.form-control{
	
	text-align: left;
}
.navbar-nav a{
	padding-right: 50px !important;
}

.hero{
    margin-top: 20px;
	height: 75vh;
}

.left-side{
    /* background-color: #e2a828; */
    /* margin: 50px; */
}
.left-side-box{
    margin: 0 40px;
}
.left-side-box:hover {
    text-decoration: none;
    background-color: rgba(20, 121, 20, 0.789);
    color: white !important;
}
.left-side-middle-box{
    margin: 42px 40px;
}
.left-side-middle-box:hover{
    margin: 42px 40px;
    background-color: rgba(20, 121, 20, 0.789);
    color: white !important;
}

.left-side-txt{
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
/* .left-side-txt:hover{
    display: block;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
} */
.carousel-layout{
    /* margin-top: 20px;
	height: 65vh; */
}
.carousel-item{
    border: 1px solid gray  ;
    /* height: 80vh; */
    /* box-shadow: 0px 2px 2px rgba(0,0,0,0.24); */
}

.book{
    cursor: pointer;
    margin-bottom: 27px;
    height: 98%;
}
.momo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

    position: absolute;
    top: 65%;
    left: 40%;
}

.momo img{
    border-radius: 4px;
}
.head-desc{
	text-align: left;
	background-color: #e2a828;
	padding: 5px;
}
.caro-desc{
	text-align: left;
	font-size: 20px;

}

.caro-desc1{
	background-color: black;
	opacity: 0.8;
	padding: 20px;
	font-size: 20px;
}

.section-title{
	margin-top: 50px;
    font-size: 2.5rem;
	font-weight: bold;
	font-family: "Franklin Gothic Medium"
}
.home-body{
	margin-top: 20px;
}
.work-items{
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	font-size: 20px;	
	height: auto;
	overflow: auto;
	margin: 20px;
}
.home-body-about{
	/* background-attachment: fixed; */
}
.work-section{
	background-image: url('../images/IMG_4019.jpg');
	background-size: cover;
	height: auto;
	overflow: auto;
	background-attachment: fixed;
	padding: 50px;
}
.others-section{
	background:#e2a828;
	height: auto;
	padding: 50px;
	background-attachment: fixed;
}
.about-items{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.24);
}
.about-items h5{
	margin-top: 10px;
}
.about-text{
	/* padding-top: 1px; */
	/* text-align: center !important; */
}
.about-text{
	font-size: 18px;
    text-align:justify;
    font-family: sans-serif;
}
.read-more{
	background-color: #141d26; 
	padding: 0 !important;	
	margin: 0 !important;
	color: white;
}

.img-container{
		position: relative;
		width: 50%;
	}

	.middle{
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.img-container:hover img{
		opacity: 0.3;
	}

	.img-container:hover .middle{
		opacity: 1;
	}

	.text{
		background-color: #141d26;
		color: white;
		font-size: 16px;
		padding: 12px 22px;
	}
.box-txt{
    text-align: center;
    font-size: 1.1rem;
}
.box{
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.24);
	padding: 25px 25px;
	margin: 50px;
    text-align: center;
}

.footer{
	background-color: #141d26;
	color: white;
	padding-top: 20px;
}

.footer a{
	text-decoration: none;
	color: white
}
.books-outline{
	
	min-height: 150px;
	box-shadow: 0px 2px 10px 1.5px rgba(0,0,0,0.24);
	padding: 10px;
	
	
}
/*.books-outline:before{
	position: relative;
	transform-origin: right;
	transition: 0.5s;
	transform: scaleX(0);
}*/

.num{
	background-color: #e2a828;
	padding: 15px;
	box-shadow: 0px 2px 10px 1.5px rgba(0,0,0,0.24);
	color: white;
	font-weight: bold;
}

.num-journal{
	background-color: #141d26;
	padding: 15px;
	box-shadow: 0px 2px 10px 1.5px rgba(0,0,0,0.24);
	color: white;
	font-weight: bold;
}

.pub-title{
	background-color: #e2a828;
	padding: 15px;
	color: white;
	font-weight: bold;
	margin-bottom: 50px;
}

.jour-title{
	background-color: #141d26;
	padding: 15px;
	color: white;
	font-weight: bold;
	margin-bottom: 50px;
}

.books-outline:hover{
	background-color: #e2a828;	
}
.scholar{
	background-image: url('images/IMG_4599.jpg');
	background-size: cover;
	height: auto;
	overflow: hidden;
	background-attachment: fixed;

}

.project-outline{
	box-shadow: 0px 2px 10px 1.5px rgba(0,0,0,0.24);
	padding: 10px;
	background-color: white;
	opacity: 0.9;
}

.project-outline:hover{
	opacity: 1;
}


/* sm */
@media(min-width: 576px) and (max-width:767px){}

/* md */
@media(min-width: 768px) and (max-width:991px){}

/* lg */
@media(min-width: 992px) and (max-width:1199px){}

/* xl */
@media(min-width: 1200px) {}